<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
	<h2>There are {{length}} fields in the data submitted</h2>
	<ol>
	{% for field in fields %}
		<li>{{field}}</li> 
	{% endfor %}
	</ol>
	<br>
	<form method="POST" action="/summarystats.com/summary">
	{% for field in fields %}
		<p>Select data type of <b>{{field}}</b>: <select name={{field}}><p>
			{% for dt in datatypes %}
				<option value= "{{dt}}">{{dt}}</option>
			{% endfor %}
			</select> 					
	{% endfor %}
	<br>
	<br>
	<input type="submit">
	</form>
</body>
</html>

